@use "../../styles/partials/mixins" as *;

.resources-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #DBe7C8;
  margin-bottom: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.1);

  &__title-container {
    padding: .7rem;
  }

  &__title {
    @include m-h2;

    @include tablet {
      @include d-h2;
    }
  }

  &__image-container {
    margin: auto;
  }

  &__image {
    border-radius: 0.75rem;
  }

  &__link {
    @include m-p2;

    @include tablet {
      @include d-p2;
    }
  }

  &__description {
    padding: .5rem 0;
    @include m-p1;

    @include tablet {
      @include d-p1;
    }
  }
}