.guide-inst {
	display: flex;
	flex-direction: row;
	// box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 0rem 0rem 0.75rem 0.75rem;

	&__list {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	&__image-container {
		padding: 1rem;
	}

	&__image {
		border-radius: 0.75rem;
	}
}
