@use "../../styles/partials/mixins" as *;

.guide-inst {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include tablet {
		flex-direction: row;
		justify-content: space-around;
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding: .5rem 0;

		@include tablet {
			width: 35%;
		}
	}

	&__image-container {
		padding: .5rem;
		margin: auto;

		@include tablet {
			margin: 0;
			padding: 4.5rem 2rem 2rem 2rem;
	
		}
	}

	&__image {
		border-radius: 1.5rem;
		height: 277px;
		width: 100%;
		max-width: 278px;
		min-width: 150px;
	}
}
