@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.about--text--container {
    text-align: center;
    background-color: #DBE7C8;
    border-radius: 2rem;
    padding-bottom: 10rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    .about__intro {
        @include mobile {
            font-size: 1.5rem;
            padding: 10rem 18rem 0 ;
        }
    }
    .about__description {
        @include mobile {
            font-size: 1.5rem;
            padding: 2rem 18rem 0 ;
        }
    }
    .slogan {
        font-size: 3rem;
        padding: 2rem 18rem 0 ;
    }
}