@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.aboutPage {
	padding: 1rem 1rem 0rem;

	@include tablet {
		padding: 2.25rem 2.25rem 0rem;
	}

	@include desktop {
		padding: 2.25rem 8rem 0rem;
	}
}

.about--text--container {
	text-align: center;
	background-color: #dbe7c8;
	border-radius: 1.5rem;
	padding-bottom: 10rem;
	border: 2px solid rgba(0, 0, 0, 0.1);

	.about__intro {
		@include mobile {
			font-size: 1rem;
			line-height: 2.5rem;
			padding: 10rem 3rem 0;
		}
		@include tablet {
			font-size: 1.5rem;
			padding: 10rem 8rem 0;
		}
		@include desktop {
			padding: 10rem 16rem 0;
		}
	}
	.about__description {
		@include mobile {
			font-size: 1rem;
			line-height: 2.5rem;
			padding: 2rem 3rem 0;
		}
		@include tablet {
			font-size: 1.5rem;
			padding: 2rem 8rem 0;
		}
		@include desktop {
			padding: 2rem 16rem 0;
		}
	}
	.slogan {
		@include mobile {
			font-size: 2rem;
			line-height: 2.5rem;
			padding: 2rem 3rem 0;
		}
		@include tablet {
			font-size: 3rem;
			padding: 2rem 8rem 0;
		}
		@include desktop {
			padding: 2rem 16rem 0;
		}
	}
}
