nav,
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	&__logo {
		display: flex;
		align-items: center;
        
		&__image img{
			height: 3rem;
			width: 3rem;
		}
	}

	&__links {
		&__list {
			display: flex;
			column-gap: 0.5rem;
		}
	}
}
