@use "../../styles/partials/mixins" as *;

.guide-list {

  &__title {
    padding: 0.5rem;

    @include m-h1;

    @include tablet {
      @include d-h1;
    }
  }

  &__list-container {
    padding: 0 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem;
    margin-top: .5rem;
    transition: box-shadow 0.6s, transform 0.6s;
    &:hover {
      box-shadow: 10px 10px 40px rgb(0, 0, 0, 0.6);
      transform: scale(1.1);
      z-index: 1;
      cursor: pointer;
    }
  }

  &__icon {
    padding-right: 0.5rem;
  }

  &__step {

    @include m-p3;

    @include tablet {
      @include d-p2;
    }
  }
}