@use "../../styles/partials/mixins" as *;

.home {
	&__content {
		padding: 1rem 1rem 0rem;
		border: 1px solid black;

		@include tablet {
			padding: 2.25rem 2.25rem 0rem;
		}

		@include desktop {
			padding: 2.25rem 8rem 0rem;
		}
	}
}
