@use "../../styles/partials/mixins.scss" as *;

.banner {
	width: 100%;
	height: 40vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablet {
		height: 50vh;
	}
	@include desktop {
		height: 60vh;
	}

	&__text {
		position: relative;
		bottom: 5rem;
		z-index: 10;
		font-size: 3rem;
		text-align: center;
		text-shadow: 0px 0px 10px black;

		@include tablet {
			bottom: 6rem;
			font-size: 5rem;
		}

		@include desktop {
			bottom: 8rem;
		}
	}

	&__background,
	&__foreground {
		position: absolute;
		background-position: bottom;
		inset: 0px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__background {
		z-index: 0;
	}
	&__foreground {
		z-index: 20;
	}
}
